---
import AppLayout from "../layouts/AppLayout.astro";
import { AtSignIcon } from "../icons/at";
import { RocketIcon } from "../icons/rocket";
import { SparklesIcon } from "../icons/sparkles";
import HeroSection from "../components/HeroSection.astro";
import FeaturesSection from "../components/FeaturesSection.astro";
---

<AppLayout>
  <div class="flex flex-col gap-20 ">
    <HeroSection />
    <FeaturesSection />
  </div>
</AppLayout>
