<div class="flex flex-col gap-4">
  <div
    class="bg-neutral-100/60 w-14 h-14 flex items-center justify-center rounded-xl border-2 border-neutral-200/50 shadow"
  >
    <img src="/email.png" class="w-10 h-10" alt="" />
  </div>
  <h1 class="font-rethink font-semibold text-4xl text-neutral-800">
    The MX App
  </h1>
  <p class="text-balance text-neutral-600">
    The Email client supercharged by AI, supports custom domains, and to be
    honest does not limit you.
  </p>
  <div class="flex items-center gap-4">
    <a
      href="https://app.rahaman.email/login"
      class="bg-black rounded-full text-white px-3 py-1 text-sm">Get Started</a
    >
    <p>View Demo</p>
  </div>
</div>
